%p#notice= notice
%h1 マイランキング
= form_with model:@myRank, local:true do |f|
  .mb-3
    %label.form-label
      タイトル
    = f.text_field :title, class:"form-control"
  .mb-3
    %label.form-label 
      感想
    = f.text_field :contents, class:"form-control"
  = f.submit "登録する" ,class:"btn btn-primary"
